---
import Layout from "../layout/Layout.astro";
---

<Layout title="App - Alumnos">
  
    <main class="w-screen h-screen flex justify-center items-center">
        <div class="bg-white rounded-xl max-w-lg h-96 space-y-4 p-4 px-8 text-center  flex flex-col justify-evenly items-center">
            <h1 class="text-4xl font-bold" >Bienvenido a mi aplicación de estudiantes</h1>
            <p class="text-gray-500" >Esta es una pequeña bienvenida para que entres a mi aplicación de estudiantes, espero le guste profesor c:, muchas gracias. Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus ratione quis quae, voluptatibus officiis laudantium a quam atque laborum accusamus.</p>
            <a href="/alumno" 
            class="text-white bg-black rounded-lg text-xl font-semibold px-4 py-2 inline-block hover:shadow-lg hover:shadow-stone-400 hover:text-black hover:bg-white hover:border-2 hover:border-black  transition-all duration-300" >Ingresar</a>
        </div>
    </main>

</Layout>
